{extends "index.htm"}
{block "title"}{$title}{/block}
{block "content"} 
<div class="grid-element main">
  <div id="breadCrumb">
    [ {$breadcrumb} ]
  </div>
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td>
        <table id="tableList" cellspacing="2" border="0" cellpadding="2">
          <tr>
            <td colspan="9" align="center" bgcolor=#eeeeee>{$totalrows}</td>
          </tr>
          <tr>
            <th>指定店家</th>
            <th>商品</th>
            <th>序號</th>
            <th>店名</th>
            <th>電話</th>
            <th>負責人</th>
            <th>最後修改日</th>
            <th>狀態</th>
          </tr>
          {foreach $items as $item}
          <tr>
            <td align="center" bgcolor="#ffffff">{$item.editstoreid|raw}</td>
            <td bgcolor="#ffffff" align="center"><a href="javascript:ShowPdsInfo('{$baseUrl}', {$item.storeid});"><img src="{$baseUrl}assets/images/text_file_icon.gif" border="0"></a></td>
            <td bgcolor="#ffffff">{$item.storeid}</td>
            <td bgcolor="#ffffff">{$item.storename|raw}</td>
            <td bgcolor="#ffffff">{$item.tel}</td>
            <td nowrap bgcolor="#ffffff">{$item.man}</td>
            <td bgcolor="#ffffff">{$item.editdate}</td>
            <td nowrap bgcolor="#ffffff">{$item.status}</td>
          </tr>
          {/foreach}
          <tr>
            <td colspan="9" align="center" bgcolor=#eeeeee noswarp>{$pageselect|raw}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <script src="{$baseUrl}assets/js/main.js"></script>
</div>
{/block}