{extends "index.htm"}
{block "title"}{$title}{/block}
{block "content"}
<div class="grid-element main">
  <div id="breadCrumb">
    [ {$breadcrumb} ]
  </div>
  <a href="{$baseUrl}store/add">新增店家</a><br><br>
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td align="center" bgcolor=#eeeeee style="padding:10px">{$totalrows}</td>
    </tr>
    <tr>
      <td>
        <table id="tableList" cellspacing="2" border="0" cellpadding="2" width="100%">
          <tr class="Forums_General">
            <td class="Forums_Header">修改</td>
            <td class="Forums_Header">商品明細</td>
            <td class="Forums_Header">序號</td>
            <td class="Forums_Header" nowrap>店名</td>
            <td class="Forums_Header">電話</td>
            <td class="Forums_Header" nowrap>負責人</td>
            <td class="Forums_Header" nowrap>最後修改日</td>
            <td class="Forums_Header">狀態</td>
          </tr>
          {foreach $items as $item}
          <tr>
            <td align="center">
              <a href='{$baseUrl}store/edit?id={$item.storeid}'>
                <img src="{$baseUrl}assets/images/Edit.gif">
              </a>
            </td>
            <td align="center">{$item.editdetails|raw}</td>
            <td>{$item.storeid}</td>
            <td>
              <a href='javascript:ShowDetail("{$baseUrl}", {$item.storeid});'>
                {$item.storename}
              </a>
            </td>
            <td>{$item.tel}</td>
            <td nowrap>{$item.man}</td>
            <td>{$item.editdate}</td>
            <td nowrap>{$item.status}</td>
          </tr>
          {/foreach}
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" bgcolor=#eeeeee noswarp style="padding:10px">{$pageselect|raw}</td>
    </tr>
  </table>
  <script src="{$baseUrl}assets/js/main.js"></script>
</div>
{/block}