{extends "index.htm"}
{block "title"}{$title}{/block}
{block "content"}
  <div id="breadCrumb">
    [ {$breadcrumb} ]
  </div>
  <ul>
    <li><a href="{$baseUrl}store/add">新增店家</a></li>
  </ul>
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td align="center" bgcolor=#eeeeee style="padding:10px">{$totalrows}</td>
    </tr>
    <tr>
      <td>
        <table id="tableList" cellspacing="2" border="0" cellpadding="2">
          <tr>
            <th>修改</th>
            <th>商品明細</th>
            <th>序號</th>
            <th>店名</th>
            <th>電話</th>
            <th>負責人</th>
            <th>最後修改日</th>
            <th>狀態</th>
          </tr>
          {foreach $items as $item}
          <tr>
            <td>
              <a href='{$baseUrl}store/edit?id={$item.storeid}'>
                <img src="{$baseUrl}assets/images/Edit.gif">
              </a>
            </td>
            <td>{$item.editdetails|raw}</td>
            <td>{$item.storeid}</td>
            <td>
              <a href='javascript:ShowDetail("{$baseUrl}", {$item.storeid});'>
                {$item.storename}
              </a>
            </td>
            <td>{$item.tel}</td>
            <td nowrap>{$item.man}</td>
            <td>{$item.editdate}</td>
            <td nowrap>{$item.status}</td>
          </tr>
          {/foreach}
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" bgcolor=#eeeeee noswarp style="padding:10px">{$pageselect|raw}</td>
    </tr>
  </table>
  <script src="{$baseUrl}assets/js/main.js"></script>
{/block}