{extends "index.htm"}
{block "title"}{$title}{/block}
{block "content"}
   <div class="grid-element main">
    <div id="breadCrumb">
        [ {$breadcrumb} ]
    </div>
    <form name="frm" method="post">
      <input type=hidden name="id" value="{$id}">
      <input type=hidden name="mid" value="{$mid}">
      <table border="0" cellspacing="0" cellpadding="0" width="80%">
        <tr>
          <td>
            <table cellspacing="2" border="0" cellpadding="2" width="100%">
              <tr>
                <td colspan="9" align="center" bgcolor=#eeeeee>{$totalrows}</td>
              </tr>
              <tr Class="Forums_General">
                <td class="Forums_Header" align="center">勾選</td>
                <td class="Forums_Header" align="center">數量</td>
                <td class="Forums_Header" align="center">備註</td>
                <td class="Forums_Header" align="center">序號</td>
                <td class="Forums_Header" align="center">商品名稱</td>
                <td class="Forums_Header" align="center">型別</td>
                <td class="Forums_Header" align="center">金額</td>
                <td class="Forums_Header" align="center">說明</td>
                <td class="Forums_Header" align="center">狀態</td>
              </tr>
              <!-- BEGIN DYNAMIC BLOCK: row -->
              {foreach $items as $item}
              <tr Class="Forums_General">
                <td Class="{$item.classname}" align="center"><input type="checkbox" name="chk[]" value="{$item.pdsid}"></td>
                <td Class="{$item.classname}" align="center"><input type="text" name="cnt{$item.pdsid}" maxLength=2 size=4></td>
                <td Class="{$item.classname}" align="center"><input type="text" name="note{$item.pdsid}" maxLength=60></td>
                <td Class="{$item.classname}" align="center">{$item.pdsid}</td>
                <td Class="{$item.classname}" align="center">{$item.pdsname}</td>
                <td Class="{$item.classname}" align="center">{$item.pdstype}</td>
                <td Class="{$item.classname}" align="center">{$item.price}</td>
                <td Class="{$item.classname}" align="center">{$item.note}</td>
                <td Class="{$item.classname}" align="center">{$item.status}</td>
              </tr>
              {/foreach}
              <!-- END DYNAMIC BLOCK: row -->
              <tr>
                <td colspan="9" align="center" bgcolor=#eeeeee noswarp>{$pageselect|raw}</td>
              </tr>
              <tr>
                <td colspan="9" align="right"> [ <input type="image" src="tpl/images/OK.gif" name="sb"> 確定訂購 ]&nbsp;[ <a href="{$PHP_SELF}?func=manager&action=list"><img src="tpl/images/Cancel.gif" border=0></a> 取消 ] </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </form>
    <script>
      // 防止回此頁
      history.forward();
    </script>
  </div>
{/block}