{extends "index.htm"}
{block "title"}{$title}{/block}
{block "content"}
<div class="grid-element main">
  <div id="breadCrumb">
      [ {$breadcrumb} ]
  </div>
    <table border="0" cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <table id="tableList" cellspacing="2" border="0" cellpadding="2" width="100%">
            <tr>
              <td colspan="9" align="center" bgcolor=#eeeeee>{$totalrows}</td>
            </tr>
            <tr>
              <th>序號</th>
              <th>商品名稱</th>
              <th>數量</th>
              <th>單價</th>
              <th>訂購人</th>
              <th>備註</th>
              <th>訂購時間</th>
              <th>狀態</th>
              <th>修改</th>
            </tr>
            {foreach $items as $item}
            <tr>
              <td>{$item.orderid}</td>
              <td>{$item.pdsname}</td>
              <td>{$item.count}</td>
              <td>{$item.price}</td>
              <td>{$item.man}</td>
              <td>{$item.note}</td>
              <td>{$item.createdate}</td>
              <td>{$item.status}</td>
              <td>{$item.editstatus|raw}</td>
            </tr>
            {/foreach}
            <tr>
              <td colspan="9" align="center" bgcolor=#eeeeee noswarp>{$pageselect|raw}</td>
            </tr>
            <tr>
              <td colspan="9" align="right"> [ <a href="{$baseUrl}manager/list_order">回上一頁</a> ] </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
</div>
{/block}