{extends "index.htm"}
{block "title"}{$title}{/block}
{block "content"} 
<div class="grid-element main">
  <div id="breadCrumb">
      [ {$breadcrumb} ]
  </div>
  <table id="tableList" Width="70%">
    <tr>
      <td colspan=4><font color="#FFFFFF">&nbsp;訂購結果</font></td>
    </tr>
    <tr>
      <th>商品名稱</th>
      <th>單價</th>
      <th>數量</th>
      <th>備註</th>
    </tr>
    
    {foreach $items as $item}
    <tr>
      <td>{$item.pdsname}</td>
      <td>{$item.price}</td>
      <td>{$item.count}</td>
      <td>{$item.note}</td>
    </tr>
    {/foreach}
    <tr>
      <td Class="{$classname1}" colspan=4 align="right"> [ <a href="{$baseUrl}"><img src="{$baseUrl}assets/images/OK.gif" border=0></a> 回主選單 ] </td>
    </tr>
    <tr>
      <td colspan=4  align="center"> [ <font color="#FFFFFF">感謝您的訂購，先祝您用餐愉快！</font> ] </td>
    </tr>
  </table>
</div>
{/block}