@charset "UTF-8";
/* 全頁 menu 基本設定 */

.style10 {
    font-size: x-small;
    color: #666666;
}

#siteInfo {
    clear: both;
    border: 1px solid #cccccc;
    font-size: 75%;
    color: #cccccc;
    padding: 10px 10px 10px 10px;
    margin-top: -1px;
}

#content {
    float: right;
    width: 80%;
    margin: 0;
    padding: 0 3% 0 0;
}

#navBar {
    margin: 0 85% 0 0;
    padding: 0px;
    background-color: #eeeeee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#sectionLinks {
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    font-size: 85%;
}

ul {
    list-style-type: square;
}

a:link,
a:visited,
a:hover {
    color: #006699;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#breadCrumb {
    font-size: 80%;
    padding: 15px 0px 5px 10px;
}


/* 表單設定 */

.Forums_Header {
    font: bold Arial;
    color: white;
    background-color: #cccccc;
}

.Forums_Header2 {
    color: white;
    font: bold x-small Verdana, Arial, sans-serif;
    background-color: darkred;
    border: 1px;
    border-color: #000000;
    border-style: solid;
}

.Forums_TopicSubject {
    color: darkred;
    font: bold x-small Verdana, Arial, sans-serif;
    font-size: 16;
}

.Forums_Item {
    background-color: beige;
    vertical-align: top;
    border: 0px; 
    border-color: #c0c0c0;
    border-style: solid;
}

.Forums_AlternatingItem {
    font: tahoma;
    font-size: 2:
    color: white;
    background-color: moccasin;
    vertical-align: top;
    border: 0px; 
    border-color: #c0c0c0;
    border-style: solid;
}

.Forums_General {
    font: tahoma;
    font-size: 2ex;
    color: black;
    background-color: beige;
    vertical-align: top;
    border: 1px; 
    border-color: #c0c0c0;
    border-style: solid;
}

TD {
    font: x-small Verdana, Arial, sans-serif;
    font-size: 12;
    line-height: 17px;
}

.TextBox {
    font: x-small Verdana, Arial, sans-serif;
    font-size: 12;
    color: darkblue;
    background-color: lightyellow;
}


/* 詳細資料設定 */

.head {
    font:bold
}
a:link, a:visited, a:hover {
    color: #006699;text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

