{extends "index.htm"}
{block "title"}{$title}{/block}
{block "content"}
   <div class="grid-element main">
    <div id="breadCrumb">
        [ {$breadcrumb} ]
    </div>
    <table border="0" cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <table cellspacing="2" border="0" cellpadding="2" width="100%">
            <tr>
              <td colspan="9" align="center" bgcolor=#eeeeee>{$totalrows}</td>
            </tr>
            <tr Class="Forums_General">
              <td class="Forums_Header" align="center">序號</td>
              <td class="Forums_Header" align="center">建立日期</td>
              <td class="Forums_Header" align="center">負責人</td>
              <td class="Forums_Header" align="center">店家</td>
              <td class="Forums_Header" align="center">異動日期</td>
              <td class="Forums_Header" align="center">狀態</td>
              <td class="Forums_Header" align="center">訂購明細</td>
            </tr>
            <!-- BEGIN DYNAMIC BLOCK: row -->
            {foreach $items as $item}
            <tr Class="Forums_General">
              <td Class="{$item.classname}" align="center">{$item.managerid}</td>
              <td Class="{$item.classname}" align="center">{$item.createdate}</td>
              <td Class="{$item.classname}" align="center">{$item.man}</td>
              <td Class="{$item.classname}" align="center">{$item.storename}</td>
              <td Class="{$item.classname}" align="center">{$item.editdate}</td>
              <td Class="{$item.classname}" align="center">{$item.status}</td>
              <td Class="{$item.classname}" align="center">
                <a href="{$PHP_SELF}?func=order&action=list&mid={$item.managerid}">
                  <img src="tpl/images/View.gif" border="0">
                </a>
              </td>
            </tr>
            {/foreach}
            <!-- END DYNAMIC BLOCK: row -->
            <tr>
              <td colspan="9" align="center" bgcolor=#eeeeee noswarp>{$pageselect|raw}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
{/block}