<nav>
  <ul>
    <li class="sectionLinks"><a href='{$baseUrl}'>Home</a></li>
    <li class="sectionLinks"><a href='{$baseUrl}logout'>Logout</a></li>
    <li class="sectionLinks"><a href='{$baseUrl}store/list'>店家維護</a></li>
    <li class="sectionLinks"><a href='{$baseUrl}store/assign'>指定店家</a></li>
    <li class="sectionLinks"><a href='{$baseUrl}store/list_assign'>指定店家管理/截止/取消</a></li>
    <li class="sectionLinks"><a href='{$baseUrl}manager/list'>DinBenDon(今日)</a></li>
    <li class="sectionLinks"><a href='{$baseUrl}manager/list_order'>DinBenDon明細</a></li>
  </ul>
</nav>
