{extends "index.htm"}
{block "title"}{$title}{/block}
{block "content"} 
  <div class="grid-element main">
    <div id="breadCrumb">
      [ {$breadcrumb} ]
    </div>
    <table border="0" cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <table id="tableList" cellspacing="2" border="0" cellpadding="2" width="100%">
            <tr>
              <td colspan="9"  bgcolor=#eeeeee>{$totalrows}</td>
            </tr>
            <tr>
              <th>修改</th>
              <th>序號</th>
              <th>商品名稱</th>
              <th>型別</th>
              <th>金額</th>
              <th>說明</th>
              <th>狀態</th>
            </tr>
            {foreach $items as $item}
            <tr>
              <td>
                <a href='{$baseUrl}product/edit?id={$item.pdsid}&sid={$item.storeid}'>
                  <img border=0 src="{$baseUrl}assets/images/Edit.gif">
                </a>
              </td>
              <td>{$item.pdsid}</td>
              <td>{$item.pdsname}</td>
              <td>{$item.pdstype}</td>
              <td>{$item.price}</td>
              <td>{$item.note}</td>
              <td>{$item.status}</td>
            </tr>
            {/foreach}
            <tr>
              <td colspan="9" align="center" bgcolor="#eeeeee" noswarp>{$pageselect|raw}</td>
            </tr>
            <tr>
              <td colspan="9" align="right">
                <a href="{$baseUrl}store/list">
                  [ <img border="0" src="{$baseUrl}assets/images/Cancel.gif"> 取消 ]
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <form name="addfrm" method="post" action="{$baseUrl}product/add">
      <input type=hidden name="pdsid" value="{$id}">
      <table border="0" cellspacing="2" cellpadding="2" width="80%">
        <tr>
          <td>商品名稱</td>
          <td>型別</td>
          <td>單價(元)</td>
          <td>說明</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#F5F5F5" ><input type="text" name="pdsname" size="20"></td>
          <td bgcolor="#F5F5F5" ><input type="text" name="pdstype" size="5"></td>
          <td bgcolor="#F5F5F5" ><input type="text" name="pdsprice" size="5" maxlength="4"></td>
          <td bgcolor="#F5F5F5" ><input type="text" name="pdsnote" size="28"></td>
          <td bgcolor="#F5F5F5" >[ <input type="image" src="{$baseUrl}assets/images/OK.gif" name="sb"> 新增商品 ]</td>
        </tr>
      </table>
    </form>
  </div>
{/block}