{extends "index.htm"}
{block "title"}{$title}{/block}
{block "content"} 
  <div class="grid-element main">
    <div id="breadCrumb">
      [ {$breadcrumb} ]
    </div>
    <table border="0" cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <table cellspacing="2" border="0" cellpadding="2" width="100%">
            <tr>
              <td colspan="9" align="center" bgcolor=#eeeeee>{$totalrows}</td>
            </tr>
            <tr Class="Forums_General">
              <td class="Forums_Header" align="center">修改</td>
              <td class="Forums_Header" align="center">序號</td>
              <td class="Forums_Header">商品名稱</td>
              <td class="Forums_Header" nowrap>型別</td>
              <td class="Forums_Header">金額</td>
              <td class="Forums_Header" nowrap>說明</td>
              <td class="Forums_Header">狀態</td>
            </tr>
            {foreach $items as $item}
            <tr Class="Forums_General">
              <td Class="{$item.classname}" align="center">
                <a href='{$PHP_SELF}?func=product&action=edit&id={$item.pdsid}&sid={$item.storeid}'>
                  <img border=0 src="tpl/images/Edit.gif">
                </a>
              </td>
              <td Class="{$item.classname}" align="center">{$item.pdsid}</td>
              <td Class="{$item.classname}" bgcolor="#ffffff">{$item.pdsname}</td>
              <td Class="{$item.classname}" bgcolor="#ffffff">{$item.pdstype}</td>
              <td Class="{$item.classname}" nowrap bgcolor="#ffffff">{$item.price}</td>
              <td Class="{$item.classname}" bgcolor="#ffffff">{$item.note}</td>
              <td Class="{$item.classname}" nowrap bgcolor="#ffffff">{$item.status}</td>
            </tr>
            {/foreach}
            <tr>
              <td colspan="9" align="center" bgcolor="#eeeeee" noswarp>{$pageselect|raw}</td>
            </tr>
            <tr>
              <td colspan="9" align="right">
                <a href="{$PHP_SELF}?func=store&action=list">
                    [ <img border="0" src="tpl/images/Cancel.gif"> 取消 ]
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <form name="addfrm" method="post" action="{$PHP_SELF}?func=product&action=add">
      <input type=hidden name="pdsid" value="{$id}">
      <table border="0" cellspacing="2" cellpadding="2" width="80%" Class="Forums_General">
        <tr Class="Forums_General">
          <td class="Forums_Header" align="center">商品名稱</td>
          <td class="Forums_Header" align="center">型別</td>
          <td class="Forums_Header" align="center">單價(元)</td>
          <td class="Forums_Header" align="center">說明</td>
          <td class="Forums_Header">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#F5F5F5" align="center"><input type="text" name="pdsname" size="20"></td>
          <td bgcolor="#F5F5F5" align="center"><input type="text" name="pdstype" size="5"></td>
          <td bgcolor="#F5F5F5" align="center"><input type="text" name="pdsprice" size="5" maxlength="4"></td>
          <td bgcolor="#F5F5F5" align="center"><input type="text" name="pdsnote" size="28"></td>
          <td bgcolor="#F5F5F5" align="center">[ <input type="image" src="tpl/images/OK.gif" name="sb"> 新增商品 ]</td>
        </tr>
      </table>
    </form>
  </div>
{/block}