<!DOCTYPE html>
<html>
<head>
	<title>DinBenDon明細顯示</title>
	<link rel="stylesheet" href="{$baseUrl}assets/css/index.css">
</head>
<body topmargin="5">
	<center>
    <table Class="Forums_General">
	  <tr Class="Forums_Header">
		<td colspan=2><font color="#FFFFFF">&nbsp;DinBenDon明細顯示</font></td>
	  </tr>
      <tr>
		<td>
		  <table cellspacing="2" border="0" cellpadding="2">
			<tr>
			  <td colspan="9" align="center" bgcolor=#eeeeee>{$totalrows}</td>
			</tr>
			<tr Class="Forums_General">
			  <td class="Forums_Header">序號</td>
			  <td class="Forums_Header">商品名稱</td>
			  <td class="Forums_Header">型別</td>
			  <td class="Forums_Header">金額</td>
			  <td class="Forums_Header">說明</td>
			  <td class="Forums_Header">狀態</td>
			</tr>
			{foreach $items as $item}
			<tr Class="Forums_General">
			  <td Class="{$item.classname}">{$item.pdsid}</td>
			  <td Class="{$item.classname}">{$item.pdsname}</td>
			  <td Class="{$item.classname}">{$item.pdstype}</td>
			  <td Class="{$item.classname}">{$item.price}</td>
			  <td Class="{$item.classname}">{$item.note}</td>
			  <td Class="{$item.classname}">{$item.status}</td>
			</tr>
			{/foreach}
			<tr>
			  <td colspan="9" align="center" bgcolor=#eeeeee noswarp>{$pageselect|raw}</td>
			</tr>
			<tr width=80%>   
			  <td align="right" colspan="9">[ <a href="javascript:self.close();"><img src="{$baseUrl}assets/images/Cancel.gif" border=0> 關閉</a> ]</td>
			</tr> 
		  </table>
		</td>
	  </tr>
	</table>
	</center>
</body>
</html>